@CHARSET "ISO-8859-1";
body {background-color: #b5f2e9;}
h1{
	color:#000040; 
	border:1px solid #004080
}
h2{
	color:#8080ff; 
	border:2px solid green
}
div
{
	 background-color:#000040;
	 color:white;
	 padding:20px;
	 border:10px solid #0000a0
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}
a
{
	color: #ff8080;
}
button
{
	background-color: #8080ff;
}